<div class="wrapper">
    <header>
        <a routerLink="/support">
            <img src="assets/heart.svg" class="support" alt="heart">
        </a>
        <a routerLink="/home">
            <h1>Breathe</h1>
        </a>
        <a routerLink="/setting">
            <img src="assets/gear.svg" class="setting" alt="gear">
        </a>
    </header>
    <main>
        <section class="equal-breathing">
            <div>
            <a routerLink="">
                <img src="assets/equals.svg" class="equal-btn" alt="equals sign">
            </a>
            <a routerLink="">
                <img src="assets/circle-info.svg" class="info-btn" alt="circle info sign">
            </a>
            </div>
            <div>
                 <h2>Equal<br> Breathing</h2>
                 <p>Equal Breathing helps<br> you to relax and focus.</p>
            </div>
            <button>
                <img src="assets/stopwatch.svg" class="stopwatch" alt="stopwatch">
                Change duration
            </button>
        </section>
        <section class="box-breathing">
            <div>
            <a routerLink="">
                <img src="assets/square.svg" class="square" alt="square">
            </a>
            <a routerLink="">
                <img src="assets/circle-info.svg" class="info-btn" alt="circle info sign">
            </a>
            </div>
            <div>
                   <h2>Box<br>Breathing</h2>
                   <p>Box Breathing is a<br> powerful stress reliever.</p>
            </div>
            <button>
                <img src="assets/stopwatch.svg" class="stopwatch" alt="stopwatch">
                Change Duration
            </button>
        </section>
        <section class="breathing_mode">
            <div>
            <a routerLink="">
                <img src="assets/pushed.svg" class="" alt="">
            </a>
            <a routerLink="">
                <img src="assets/circle-info.svg" class="info-btn" alt="circle info sign">
            </a>
            </div>
            <div>
                <h2>4-7-8<br>Breathing</h2>
                <p>4-7-8 Breathing<br> promotes better sleep.</p>
            </div>
            <button>
                <img src="assets/stopwatch.svg" class="stopwatch" alt="stopwatch">
                Change Duration
            </button>
        </section>
        <section class="breathing-test">
            <div>
            <a routerLink="">
                <img src="assets/pause.svg" class="pause" alt="pause sign">
            </a>
            <a routerLink="">
                <img src="assets/circle-info.svg" class="info-btn" alt="circle info sign">
            </a>
            </div>
            <div>
                 <h2>Breath<br>Holding Test</h2>
                <p>Test your breath <br>holding capacity.</p>
            </div>
        </section>
    </main>
    <footer>
        <a routerLink="/home">
            <img src="assets/border-all.svg" class="default" alt="4 x 4 grid box">
            Default
        </a>
        <a routerLink="/custom">
            <img src="assets/shapes.svg" class="custom" alt="cubes">
            Custom
        </a>
        <a routerLink="/progress">
            <img src="assets/square-poll-vertical.svg" class="progress" alt="poll">
            Progress
        </a>
    </footer>
</div>