.wrapper
    height: 100%
    width: 100%
    background-color: #fdfbf8
    color:  #656463
    h1
        color: #656463
    header
        display: flex
        justify-content: space-between
        align-content: space-evenly
        align-items: center
        a
            text-decoration: none
        img
            width: 25px
            padding: 5px
    div.main_wrapper
        //making  the main sections to be centered
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    main
        display: grid
        grid-template-rows: 1fr 1fr
        grid-template-columns: 1fr 1fr
        padding: 2px 10px
        grid-gap: 20px
        section
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            box-shadow: 1px 1px 3px black
            border-radius: 30px
            padding: 5 20px
            min-width: 35vw
            position: relative
            img
                 width: 30px
        .equal-breathing
            background-color: #c2d6bd
            img.equal-btn
                background-color: #d2e0cf
                position: absolute
                right: 90%
                top: 5%
            img.info-btn
                position: absolute
                left: 90%
                top: 5%
        .box-breathing
            background-color: #c9e3e3
            img.square
                background-color: #d7e9e9
                position: absolute
                right: 90%
                top: 5%
            img.info-btn
                position: absolute
                left: 90%
                top: 10%
        .breathing-mode
            background-color: #f2dac6
            img.angle
                background-color: #f4e3d5
                position: absolute
                right: 90%
                top: 5%
            img.info-btn
                position: absolute
                left: 90%
                top: 5%
        .breathing-test
            background-color: #e0c8c8
            img.pause
                background-color: #e7d7d7
                position: absolute
                right: 90%
                top: 5%
            img.info-btn
                position: absolute
                left: 90%
                top: 5%
        button
            display: flex
            justify-content: center
            align-content: center
            color: #272727
            font-size: 16px
            background-color: transparentize(white,1 )
            border-radius: 5px
            gap: 10px
            margin-bottom: 10px
            padding: 3px
            img.stopwatch
                width: 15px
    footer
        display: flex
        background-color: white
        justify-content: space-between
        position: sticky
        top: 100vh
        img
            width: 25px
        a
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-decoration: none
            padding: 10px
            color: black