.wrapper {
  height: 100%;
  width: 100%;
  background-color: #fdfbf8;
  color: #656463;
}

.wrapper h1 {
  color: #656463;
}

.wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper header a {
  text-decoration: none;
}

.wrapper header img {
  width: 25px;
  padding: 5px;
}

.wrapper div.main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 2px 10px;
  grid-gap: 20px;
}

.wrapper main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  border-radius: 30px;
  padding: 5 20px;
  min-width: 35vw;
  position: relative;
}

.wrapper main section img {
  width: 30px;
}

.wrapper main .equal-breathing {
  background-color: #c2d6bd;
}

.wrapper main .equal-breathing img.equal-btn {
  background-color: #d2e0cf;
  position: absolute;
  right: 90%;
  top: 5%;
}

.wrapper main .equal-breathing img.info-btn {
  position: absolute;
  left: 90%;
  top: 5%;
}

.wrapper main .box-breathing {
  background-color: #c9e3e3;
}

.wrapper main .box-breathing img.square {
  background-color: #d7e9e9;
  position: absolute;
  right: 90%;
  top: 5%;
}

.wrapper main .box-breathing img.info-btn {
  position: absolute;
  left: 90%;
  top: 10%;
}

.wrapper main .breathing-mode {
  background-color: #f2dac6;
}

.wrapper main .breathing-mode img.angle {
  background-color: #f4e3d5;
  position: absolute;
  right: 90%;
  top: 5%;
}

.wrapper main .breathing-mode img.info-btn {
  position: absolute;
  left: 90%;
  top: 5%;
}

.wrapper main .breathing-test {
  background-color: #e0c8c8;
}

.wrapper main .breathing-test img.pause {
  background-color: #e7d7d7;
  position: absolute;
  right: 90%;
  top: 5%;
}

.wrapper main .breathing-test img.info-btn {
  position: absolute;
  left: 90%;
  top: 5%;
}

.wrapper main button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #272727;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 10px;
  padding: 3px;
}

.wrapper main button img.stopwatch {
  width: 15px;
}

.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
}

.wrapper footer img {
  width: 25px;
}

.wrapper footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 10px;
  color: black;
}
/*# sourceMappingURL=home.component.css.map */