<div class="wrapper">
    <br>
    <br>
    <br>
    <div>
        <a routerLink="/home">
            <img src="assets/arrow-left.svg" alt="back" class="back">
        </a>
        <span></span>
    </div>
    <h2>Support Development</h2>
    <h3>Hello,</h3>
    <p>
        Breathe is helping alot of people to relax, reduce stress, and sleep better at night. It gives me
        great pleasure and satisfaction to learn that breathe is helping people during difficult times.
    </p>
    <p>
        if you like this application kindly share it with your friends and family.
        Also consider supporting me by providing feedback, submitting your experience or a new feature request.
        I would really appreciate it if you can do some of these.
        Your support and encouragement keeps me going and motivates me to deliver the best.
        <br>
        <br>
        Thank you!
    </p>
</div>