<div class="wrapper">
    <div>
        <a routerLink="/home">
            <img src="assets/arrow-left.svg" alt="back" class="back">
        </a>
        Support Development
    </div>
    <h3>Hello</h3>
    <p>
        Breathe is helping alot of people to relax, reduce stress, and sleep better at night. It gives me
        great pleasure and satisfaction to learn that breathe is helping people during difficult times.
    </p>
    <p>
        if you like this application kindly share it with your friends and family.
    </p>
</div>