<div class="wrapper">
  <section class="equal-breathing">
    <a routerLink="/home">
      <img src="assets/x.svg" class="close" alt="close">
      <span></span>
    </a>
    <h2>Equal breathing</h2>
    <p>
      Equal Breathing, also known as Sama-Vritti, which means you're inhaling for the same
      amount of time as you're exhaling. It originates from the ancient practice of pranayama yoga.
    </p>
    <p>
      You can practise this exercise anytime when you're feeling uncomfortable, off balance, or have
      just had an exhauting day. It can also help you fall asleep faster, If you can do it before going to bed.
    </p>
    <button routerLink=" " class="begin">
      BEGIN TEST
    </button>
  </section>
  <section class="box-breathing">
    <a routerLink="/home">
      <img src="assets/x.svg" class="close" alt="close">
    </a>
    <h2>Box Breathing</h2>
    <p>
      Box Breathing, also known as square breathing or four-square breathing, is a simple and highly 
      effective technique for stress relief. The technique is so named because the pattern of breathing it entails
      can be symbolized by a box or square.
      Each repetition or "circuit" of the practise has four parts ( like a box).
    </p>
    <p>
      You can practise this technique for a few minutes everyday after waking up, when changing for one activity to 
      another, before the next phone call, getting out of your car/into the office, or at the end of a meeting.
    </p>
    <p>
      Please discontinue if you feel lightheaded.
    </p>
    <button routerLink="" class="begin">
      BEGIN TEST
    </button>
  </section>
  <section class="mode-breathing">
    <a routerLink="/home">
      <img src="assets/x.svg" class="close" alt="close">
    </a>
    <h2>4-7-8</h2>
    <p>
      The 4-7-8 breathing technique, also known as "relaxing breath", is a breathing pattern developed by Dr. Andrew Weil.
      This breathing pattern aims to reduce anxiety or help people get to sleep. There is limited scientific research
      to support this method, but there is a lot of anecdotal envidence to suggest that this type of deep,
      rhythmic breathing is relaxing and may help ease people into sleep.
    </p>
    <p>
      Do it at least twice a day. You cannot do it too frequently. Do not do it for more than four cycles at one time
     for the first month of practice Later, if you wish, you can extend it to eight to ten cycles.
    </p>
    <p>
      Please discontinue if you feel lightheaded.
    </p>
    <button routerLink="">
      BEGIN TEST
    </button>
  </section>
  <section class="test-breathing">
    <a routerLink="/home">
      <img src="assets/x.svg" class="close" alt="close">
    </a>
    <h2>Breath Holding Test</h2>
    <p>
      Test to see how long you can hold your breath.
      Normal voluntary breath-holding time is 45-55 seconds
    </p>
    <p>
      If you'd like to learn how to hold your breath longer, don't rush into it.
      It can be harmful or deadly if not done with safety in mind.
      Take your time, and try different techniques to see what works for you.
    </p>
    <p>
      Please discontinue if you feel lightheaded.
    </p>
    <button class="begin" routerLink="">
      BEGIN TEST
    </button>
  </section>
</div>